doctype html
html
    head
        title Michael Lam
        link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.css')
        link(rel='stylesheet', href='/bower_components/animate.css/animate.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(type='text/javascript', src='/bower_components/jquery/dist/jquery.js')
        script(type='text/javascript', src='/bower_components/materialize/dist/js/materialize.js')

