body
  height 100%

#container
  max-height 100%
  overflow hidden

#container>img
  width auto
  height 100%
  display inline-block
  position relative
  background-size cover

#mike
  text-align center

#mike>img
  display inline-block
  position absolute
  bottom 0
  width auto
  height 600px
  margin 0 auto
